@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Overlock');

* {
    box-sizing: border-box;
}
body {
  background-color: #111;
  margin: 0;
  font-weight: bolder;
}
h1 {
  text-transform: uppercase;
}


.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(212, 175, 55, 0.931);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}

.over {
  text-align: center;
  padding-top: 150px;
}

/* ---------------- Header ---------------- */
.img-menu:hover {
  color: #DFBC3C;
}
.logo {
  color: #fff;
  padding: 15px 37px;
  font-family: "Montserrat";
  font-weight: bolder;
  background-color: #111;
  width: 100%;
  height: 80px;
}
.logo2 {
width: 50px;
height: 50px;
border-radius: 350px;
float: left;
margin-left: 25px;
}
.text4 {
  float: left;
  font-size: 15px;
  letter-spacing: 3px;
  margin-left: 20px;
  margin-top: 20px;
}
 .menu-bar {
  display: none;
  height: 40px;
}
.menu-bar:checked ~ .menu-nav {
  transform:  translateX(0%);
}

.icon-menu {
 width: 80px;
 height: 40px;
 cursor: pointer;
 text-align: right;
 float: right;
}
.menu-nav {
  background: rgba(51, 51, 51, 1);
    float: right;
    z-index: 10;
    display: block;
    position: fixed;
    right: 0;
    width: 30%;
    transform: translatex(100%);
    transition: all 0.3s;
    height: 100vh;
    top: 0;
}
.list {
  list-style: none;
  font-size: 18px;
}
.modal-close {
  float: right;
    padding-right: 50px;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    /* font-weight: bold; */
    color: white;
    cursor: pointer;
    font-weight: lighter;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.modal-close:checked ~ .menu-nav {
  display: none;
}
.section {
  padding: 1px 10px;
  padding-bottom: 50px;
}
.top {
  padding-top: 120px;
}
.style-text{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

.title-nav:hover{
 color: #FFF;
}

#title2:focus {
  outline: none;
}
#title2 span {
  vertical-align: middle;
  line-height: 1.5em;
  transition: font-size 2s cubic-bezier(0, 1, 0, 1);
}
#title2 span:hover {
  font-size: 1.5em; /* This adds a hover effect */
  line-height: 1em;
  transition: font-size .2s cubic-bezier(0, 0.75, 0, 1);
  text-decoration: none;
}


#title2 span:active {
  font-size: 1em;
  text-shadow: none; /* Click to disable the 3D effect */
  text-decoration: none;
}
#title2 span::selection {
  /*background-color: red;  This hides the selection */
  text-decoration: none;
}

/* ---------------- Welcome ---------------- */
.container {
    top: 0px;
    bottom: 0px;
    background-color: white;
}
div.container-fluid{ 
  width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


.welcome {
  height: 645px;
  width: 100%;
  background-color: black;
}
.color {
  background: black;
}
.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    background-color: #111;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    clear: left;
    padding: 5px 37px;
}
.hight {
  height: 40px;
}

.text-general {
  font-family: "Montserrat";
}
.text {
  width: 100%;
  float: left;
  margin-top: 160px;
}
.text-effect {
  background-image: url('https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif');
  background-size: cover;
  color: transparent;
   -moz-background-clip: text;
   -webkit-background-clip: text;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}
.text2-section {
  font-size: 70px;
  height: 80px;
}
.text3 {
  color: #DFBC3C;
    letter-spacing: 3px
}
.icons{ 
  margin-top: 120px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
 }

 .margin-2 {
  margin-right: 25px;
 }
 .white-mode {
  text-decoration: none;
  padding: 7px 20px;
  background-color: #122;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  font-family: "Montserrat";
}
.white-mode:hover {
  background-color: #FFF;
  color: #122;
}

/* ---------------- AboutMe ---------------- */

.text-span{
  color: #DFBC3C;
}
.padding-section {
  padding: 0px 200px;
}
.hight-3 {
  height: 300px;
}
.text-section {
  font-size: 30px;
  word-break: break-all;
  text-align: center;
  border-bottom: #452920 2px solid;
  margin: 37px;
}
.padding {
  padding: 30px 40px;
 }
 .description-1 {
  width: 100%;
  text-align: justify;
  font-size: 20px;
}
.padding-left {
  padding: 70px 100px;
}
.left{
  left: 37px;
  bottom: 80px;
  position: absolute;
}

.slider {
  width: 520px;
  margin: auto;
  overflow: hidden;
}
.slider ul {
   padding: 0;
   display: flex;
   width: 400%;

   animation: cambio 20s infinite alternate;
   
}
.slider li {
list-style: none;
}
.img-slide{ 
  height: 300px;
  width: 520px;
}
@keyframes cambio {
  0% { margin-left: 0; } 
  20% {  margin-left: 0; }

  25% { margin-left: -100%; }
  45% { margin-left: -100%; }

  50% { margin-left: -200%; }
  70% { margin-left: -200%; }

  75% { margin-left: -300%; }
  100% { margin-left: -300%; }

}

.float-3 {
  float: right;
}

/* ---------------- Portafolio ---------------- */
.row,
.row > .column {
    padding: 8px 37px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container2::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 25%;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.padding-top {
  padding-top: 20px;
}
.container2 {
  padding: 0 16px;
}
.title-proyect {
  text-align: center;
}
.hight-2 {
  margin-top: 30px;
}
.content {
  /* background-color: white; */
  padding: 30px 10px;
  background-color: rgba(223, 188, 60, 0.2);
}
.content2 {
  /* background-color: white; */
  padding: 30px 10px;
  background-color: rgba(230, 182, 11, 0.4);
  text-decoration: none;
}
.content2:hover {
  background-color: rgba(223, 188, 60, 0.2);
  text-decoration: none;
}

.summary-2 {
  text-align: justify;
  height: 200px;;
}
.text-left {
 text-align: left;
 font-size: 15px;
}
.text-3{ 
  font-size: 15px;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #261712;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color:#DFBC3C;
  color: #111;
}
.summary {
  text-align: center;
  font-size: 18px;
  margin: 40px 37px;
}
.colum-3 {
  width: 20%;
  display: inline-block;
  margin-left: 37px;
  margin-bottom: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.center {
  text-align: center;
  background-color: #F6F6DC;
}
.center2 {
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.center2:hover {
 color: #000000;
}

.text-2 {
  font-size: 30px;
  font-weight: bold;
  color: #362019;
}
.height {
  height: 400px;
}

.text-proyect {
  text-align: center;
    margin-top: 20px;
    color: rgb(255, 193, 7, 1);
}

.btn-proyect{
  text-align: center;
}

.card-margin{ 
  margin-top: 50px;
}
/* ---------------- Skills ---------------- */
.row2 {
  padding: 0px 40px;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.margin1 {
  margin: auto
}
.myBtnContainer {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.btn-2 {
  border: none;
  outline: none;
  /* padding: 12px 16px; */
  background-color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 40px;
  border-radius: 15px;

  
}
.btn-2.active {
  background-color: #DFBC3C;
  color: white;
}
.btn-2:hover {
  background-color: rgba(223, 188, 60, 0.548);
  color: #111111;
  text-decoration: none;
}
.column2 {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.nature {
  text-align: center;
  width: 20%;
}

.editor {
  text-align: center;
  width: 20%;
}

.framework {
  text-align: center;
  width: 20%;
}

.style-text2{
  text-decoration: none;
  color: #111111;
}

.text-skills {
  font-size: 18px;
    /* padding-top: 20px; */
    padding: 20px;
    text-align: center;
}
.font {
  font-size: 14px;
  padding-top: 20px;
}

.row3 {
  padding: 0px 80px;
}

.padding-2 {
  padding-top: 20px;
}
.margin-b-50{ margin-bottom: 50px; }

.radial-progress{ position: relative; max-width: 180px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500; 
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; color: #777; 
	-webkit-transform: translate(-50%, 15px); transform: translate(-50%, 15px); }

.line-progress .progress-title{ position: absolute; bottom: 0; left: 0; color: #777; }

/* optro estilo */

.wrapper {
  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute; /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}
/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 3s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 6s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 3s; /* Half animation time */
  -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}

.cards-skill {
  margin-bottom: 20px;
}

/* ---------------- Contact ---------------- */

.contact-2{
  width: 200px;
    height: 30px;
    font-size: 15px;
}

.text-contact {
  width: 100%;
  margin: auto;
}
.margin-contac{
  margin-bottom: 46px;
  justify-content: center;
}
.btn-cv {
  width: 100px;
  height: 35px;
  margin: auto;
  background-color: #ffc107;
  padding: 7px 20px;
  border-radius: 3px;
  transition: .35s ease-in-out;
  font-family: "Montserrat";
}

.btn-cv:hover {
  background-color: rgba(223, 188, 60, 0.548);
  color: #000000;
}
.contact {
  width: 100%;
  height: 100vh;
}
.footer {
  margin-top: 410px;
    color: white;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.quotes {
  font-family: 'Overlock', cursive;
 font-size: 30px;
}
.end{
  background-color: #111;
    color: #FFF;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    font-family: "Montserrat";
}

.text-footer {
  font-size: 15px;
}

@media ( min-width: 1200px) and (max-width: 1500px) {
  .img-slide {
    height: 300px;
    width: 500px;
   }
   .slider {
  width: 500px;
   }
   .float-1 {
    float: left;
    margin-left: 30px;
}
  .description-1 {
    width: 45%;
  }
  .space-left {
    margin-left: 80px;
   }
   .height {
    height: 400px;
  }
  .padding-left {
    padding: 50px 60px;
  }
  .float-3 {
    float: right;
    margin-right: 50px;
}
}

@media ( min-width: 950px) and (max-width: 1200px) {
  .column {
      width: 50%;
  }
  .float-1 {
    float: left;
  }
  .padding-left {
    padding: 50px 60px;
  }
  .margin {
    margin-left: 80px;
  }
  .img-slide {
    height: 250px;
    width: 400px;
   }
   .slider {
  width: 400px;
   }
  .space-left {
    margin-left: 50px;
   }
   .space-top {
    margin-top: 50px;
   }
   .description-1 {
    width: 50%;
  }
  
}

@media ( min-width: 850px) and (max-width: 950px) {
  .column {
    width: 100%;
    display: block;
  }
  .float-1 {
    float: left;
  }
  .padding-left {
    padding: 70px 50px;
 }
 .img-slide {
  height: 250px;
  width: 350px;
 }
 .slider {
width: 350px;
 }
.space-left {
  margin-left: 50px;
 }
 .description-1 {
  width: 50%;
}
}

@media ( min-width: 750px) and (max-width: 850px) {
    .column {
      width: 100%;
      display: block;
    }
    .float-1 {
      float: left;
    }
    .padding-left {
      padding: 70px 50px;
   }
   .img-slide {
    height: 250px;
    width: 300px;
   }
   .slider {
  width: 300px;
   }
  .space-left {
    margin-left: 50px;
  }
  .description-1 {
    width: 50%;
  }

}
@media ( min-width: 550px) and (max-width: 750px) {
  .column {
    width: 100%;
}
  .padding-left {
    padding: 70px 50px;
  }
  .description-1 {
    width: 100%;
}
 
@media ( min-width: 350px) and (max-width: 550px) {
  .column {
      width: 100%;
  }
  .left {
    bottom: 50px;
  }
  .text-effect {
    font-size: 80px;
  }
  .text2-section {
    height: 150px;
  }
  .padding-left {
    padding: 40px 30px;
  }
  .description-1 {
    width: 100%;
  }
  .text-section {
    font-size: 30px;
  }
  .slider {
    width: 350px;
  }
  .img-slide {
    width: 350px;
  }
  .padding-left {
    padding: 70px 40px;
}
}

@media ( min-width: 100px) and (max-width: 350px) {
  .column {
    width: 100%;
}
  .slider {
    width: 320px;
  }
  .img-slide {
    width: 320px;
  }
  .padding-left {
    padding: 70px 50px;
 }
}
}